In [1]:
import pandas as pd

SyntaxError: invalid syntax (86605776.py, line 1)

CREATE TRIGGER trg_UpdatePriceHistory ON Products
AFTER UPDATE
AS
BEGIN
    IF UPDATE(Price)
    BEGIN
        INSERT INTO HistoryCost (ChangeDate, ProductID, OldPrice, NewPrice)
        SELECT GETDATE(), inserted.ProductID, deleted.Price, inserted.Price
        FROM inserted
        INNER JOIN deleted ON inserted.ProductID = deleted.ProductID;
    END
END;
GO

CREATE PROCEDURE CheckEmailValidity
AS
BEGIN
    SELECT Email,
           CASE 
               WHEN Email NOT LIKE '%[ "<>@''%]' AND Email LIKE '%@%.%' THEN 1
               ELSE 0
           END AS IsValid
    FROM Customers;
END;
GO

-- Добавление сотрудников
INSERT INTO Employees (FirstName, LastName, MiddleName, BirthDate, Phone, City, Street, House, Apartment)
VALUES ('Иван', 'Иванов', 'Иванович', '1980-06-15', '1234567890', 'Москва', 'Ленина', '10', '1'),
       ('Петр', 'Петров', 'Петрович', '1985-09-23', '0987654321', 'Москва', 'Садовая', '20', NULL);

-- Добавление клиентов
INSERT INTO Customers (FirstName, LastName, MiddleName, Phone, Email)
VALUES ('Анна', 'Смирнова', 'Алексеевна', '2345678901', 'anna@example.com'),
       ('Ольга', 'Кузнецова', NULL, '3456789012', 'olga@example.net');

-- Добавление товаров
INSERT INTO Products (SKU, Name, Category, Price, MeasurementUnit, ManufactureDate, ExpiryDate, Manufacturer, Country)
VALUES ('SKU1234', 'Товар1', 'Категория1', 100.00, 'шт', '2021-01-01', '2023-01-01', 'Производитель1', 'Россия'),
       ('SKU5678', 'Товар2', 'Категория2', 200.00, 'шт', '2021-02-01', '2023-02-01', 'Производитель2', 'Россия');

-- Добавление заказов
INSERT INTO Orders (CustomerID, EmployeeID, OrderDate, PaymentMethod, Status)
VALUES (1, (SELECT TOP 1 EmployeeID FROM Employees), '2022-01-01', 'Наличные', 'Новый'),
       (2, (SELECT TOP 1 EmployeeID FROM Employees), '2022-01-02', 'Карта', 'В работе');

-- Добавление заказанных товаров
INSERT INTO OrderedProducts (OrderID, ProductID, Quantity)
VALUES (1, 1, 10),
       (1, 2, 5),
       (2, 1, 3),
       (2, 2, 8);